<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Blend!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="game-container">
        <h1>Select a Coffee Blend</h1>
        <form action="/select_roast" method="POST">
            <div class="image-button">
                <button type="submit" class="image-button" name="bean_blend" value="Arabica">
                    <img src="{{ url_for('static', filename='arabica.png') }}" alt="Arabica">
                    <span class="image-label">Arabica</span>
            </button>
            <button type="submit" class="image-button" name="bean_blend" value="Robusta">
                <img src="{{ url_for('static', filename='robusta.png') }}" alt="Robusta">
                <span class="image-label">Robusta</span>
            </button>
            <button type="submit" class="image-button" name="bean_blend" value="Liberica">
                <img src="{{ url_for('static', filename='liberica.png') }}" alt="Liberica">
                <span class="image-label">Liberica</span>
            </button>
        </div>
    </form>
</body>
    <div class="nav-button">  
        <form action="/" method="GET">
            <button type="submit">Back to Main Menu</button>
        </form>
    </div>
</html>