<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" /> <!-- specifies character incoding -->
        <title>Make A Cup of Coffee!</title>
        <link rel="stylesheet" href="index.css" />
    </head>
</head>
<body>
    <h1>Welcome to the Coffee Simulator</h1>
    <p>Follow the steps to make your perfect cup of coffee with a customized message!</p>
    <button onclick="placeOrder('Coffee')">Order Coffee</button>
    <script>
        function placeOrder(item) {
            fetch ('order', {
                method: 'POST',
                headers: {
                    'Content-Type' : 'application/json',
                },
                body: JSON.stringify({ item: item, time: new Date() })
            })
            .then(response => response.json())
            .then(data => console.log('Order sent to server:', data))
        }
    </script>
</body>
</html>