<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8" /> <!-- specifies character incoding -->
        <title>Make A Cup of Coffee!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
</head>
<body>
    <div class="game-container">
        <h1>Welcome to the Coffee Simulator</h1>
        <p>Please select an option below!</p>
        <canvas id="gameCanvas" width="400" height="300"></canvas>

        <div class ="nav-button">
            <form action="/select_blend" method="POST">
                <button type="submit">Make a New Cup of Coffee</button>
            </form>
        </div>
        <div class ="nav-button">
            <form action="/show_orders" method="GET">
                <button type="submit">View Past Orders</button>
            </form>
        </div>
    </div>
</body>
</html>
        <!-- <div class="controls-container"></div>
            <form action="/place-order" method="POST">
                <h2>Place a New Order</h2>
                <label for="item_name">Item Name:</label><br>
                <input type="text" id="item_name" name="item_name" required><br>
                <label for="sender_name">Sender Name:</label><br>
                <input type="text" id="sender_name" name="sender_name" required><br>
                <label for="recipient_name">Recipient Name:</label><br>
                <input type="text" id="recipient_name" name="recipient_name" required><br>
                <label for="message">Message:</label><br>
                <textarea id="message" name="message" rows="4" required></textarea><br>
                <input type="submit" value="Place Order">
            </form>

            <a href="/orders">View Previous Orders</a>

            <script src="script.js"></script>
        </div>
    </div>
</body>
</html>