<!DOCTYPE html>
<html lang="en">
<head>
    <title>Previous Orders</title>
    <link rel="stylesheet" href="{{url_for('static', filename='orders.css')}}"> <!-- Flask-specific way to create a URL for a file in static folder-->  
</head>
<body>
    <h1>Previous Orders</h1>
    <div class = "display-container">
        <img src="{{url_for('static', filename='coffee_notes.png')}}" alt="Coffee Notes" class="display-image">
        <div class="order-overlay">
            {% if orders %}
                <ul>
                {% for order in orders %}
                    <li>
                        <b>Item:</b> {{ order.item_name }}<br>
                        <b></b>From:</b> {{ order.sender_name }} to {{ order.recipient_name }}<br>
                        <b>Message:</b> {{ order.message }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No orders have been placed yet.</p>
            {% endif %}
        </div>
    </div>

    <a href="/">Go Back to Cafe!</a>
</body>
</html>