<!DOCTYPE html>
<html lang="en">
<head>
    <title>Previous Orders</title>
    <link rel="stylesheet" href="{{url_for('static', filename='orders.css')}}"> <!-- Flask-specific way to create a URL for a file in static folder-->  
</head>
<body>
    <h1>Previous Orders</h1>
    {% if orders %}
        <ul>
        {% for order in orders %}
            <li>
                Item: {{ order.item_name }}<br>
                From: {{ order.sender_name }} to {{ order.recipient_name }}<br>
                Message: {{ order.message }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No orders have been placed yet.</p>
    {% endif %}

    <a href="/">Go Back to Cafe!</a>
</body>
</html>