.orders-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px; /* adjusts horizontal spacing btwn images */
    row-gap: 100px; /* adjusts vertical spacing between the images */
    padding: 10px;
}

.display-container {
    position: relative;
    width: 250px; /* adjusts to the width of image */
    margin: 0 auto; /* centers the container */
    overflow-wrap: break-word; /* wraps word */
    
}

.display-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1; /* used to overlay images to correct position */
}

.order-overlay {
    position: relative;
    z-index: 2;
    padding: 10px;
    top: 67px;   /* top margin of text */
    left: 5px;
    float: left;
    margin-right: 35px;
    color: #000; /* Set text color */
    font-family: monospace; /* sets digital font */
}

.back-link {
    display: block; /* link becomes block element */
    margin-top: 60px; /* gives space */
    text-align: center; /* centers link text */
}


body {
    background-image: url("library_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}